:root {
    --myBlue:#0c0d45;
  }
html{
    scroll-behavior: smooth;
}
body{
    background: #92c7f0;
    font-family: 'Nunito', sans-serif;
}
html, body {
    overflow-x: hidden;
  }
 body {
    width:100%;
  }
p{
    font-size: 1rem; 
    font-family: system-ui;
    direction: rtl;
}
.rowProfile{

    position: absolute;
    width: 100%;
    z-index: 5;
    top: 200px;
    padding: 0 0;
    margin: 0 0;
}
.profile-img{
     height: 150px; width: 150px; border-radius: 100px; margin: 0 auto; 
    overflow: hidden; position: relative; top: -100px; margin-bottom: -70px; 
 }

.blurb h2{
    color: var(--myBlue);
    font-weight: 100;
}

.blurb p{
    color: #0000cc;
    font-weight: 100;
}
#mainNavbar {
    font-size: 1.5rem;
    font-weight: 100;
}
#mainNavbar .nav-link{
    color: white;
}
#mainNavbar .nav-link:hover{
    color:var(--myBlue);
}
#mainNavbar .navbar-brand{
    color:var(--myBlue);
}
#mainNavbar .navbar-brand:hover{
    /* color:white; */
    font-weight: bolder;
}

#headingGroup i{
    color: var(--myBlue);
}
#headingGroup h1{
   font-weight: 100;
   font-size: 2.5rem;
}
li{
    text-shadow: -1px -1px 1px #6699ff, 2px 2px 7px #363636;
}
@media(min-width:768px){
.navbar.scrolled{
    background:#6699ff;
    transition: background 500ms;
}
}
@media(max-width:700px){
    #headingGroup h1{
        font-weight: 100;
        font-size: 2rem;
     }
}